<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Week 6 Examples</title>
</head>
<body>
    <h1>Weel 6 Examples</h1>
    <ul>
        <li><a href="anchor-example">Anchor Example</a></li>
        <li><a href="img-example">Image Example 1</a></li>
        <li><a href="list-example">List Example</a></li>
        <li><a href="text-example">Text Example</a></li>
        <li><a href="audio-example">Audio Example</a></li>
        <li><a href="image-example">Image Example 2</a></li>
        <li><a href="table-example">Table Example</a></li>
        <li><a href="video-example">Video Example</a></li>
    </ul>
</body>
</html>